// Place all the styles related to the Docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  color: #39cbe5;
  font-size: 60px;
  text-align: center;
  text-shadow: 5px 5px #ddf9ff;
  font-family: "Impact", sans-serif;
}
